@font-face {
    font-family: "Caveat";
    src: url("./fonts/Caveat.ttf");
    }

.main-container {
    max-width: 700px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tests-title, .services-title {
    text-align: center;
}

/* .title {
    margin-right: 15%;
} */

.test-buttons {
    display: flex;
    justify-content: space-between;
}

.test-button {
    /* width: 200px;
    height: 200px; */
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 15px 15px;
    text-align: center;
}

.test-button:hover{
    cursor: pointer;
    background-color: #fff8f8;
}

.test-button-text {
    margin: 30px auto;
    text-align: center;
}

.items-container {
    display: flex;
    flex-direction: column;
}

.item-info {
    width: 100%;
    height: 100px;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 30px 5px;
}

h1 {
    font-family: 'Caveat', Arial, sans-serif;
}

body {
    font-family: 'Caveat', Arial, sans-serif;
    font-size: 150%;
}

.social-icons {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.icon {
    width: 50px;
}

.icon:hover {
    border-radius: 50%;
    outline: 3px solid #ce6ace;
}

.family-item {
    border: 1px solid silver;
}

.name-item {
    grid-area: name-item;
}

.description-item {
    grid-area: description-item;
}

.price-item {
    grid-area: price-item;
}

.length-item {
    grid-area: length-item;
}

.length-item, .price-item {
    text-align: center;
    padding: 10px 0;
}

.family-container {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 25%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "name-item name-item name-item length-item"
                        "description-item description-item description-item price-item";
}

@media screen and (min-width: 700px) {

    .item {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .item-info:nth-child(1) {
        width: 800px;
    }

    .item-info:nth-child(2), .item-info:nth-child(3) {
        width: 40%;
    }
}

@media screen and (max-width: 699px) {

    .item {
        display: grid;
        /* grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; */
        grid-template-areas: "name-info name-info"
                                "meeting-info price-info";
    }

    .item-info {
        text-align: center;
    }

    .name-info {
        grid-area: name-info;
    }

    .meeting-info {
        grid-area: meeting-info;
    }

    .price-info {
        grid-area: price-info;
    }
}
 

@media screen and (min-width: 601px) {

    .enrol-button {
        margin: 30px auto;
        margin-top: 20px;
        padding: 30px;
        width: 80%;
        height: 200px;
        border: 1px solid silver;
    }

    .test-buttons {
        flex-direction: row;
    }

    .test-button {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    .test-buttons {
        flex-direction: column;
        margin: 0 auto;
    }

    .enrol-button {
        margin: 30px auto;
        margin-top: 10px;
        padding: 15px;
        border: 1px solid silver;
        text-align: center;
    }

    h4 {
        text-align: center;
    }
}